*{
    box-sizing: border-box;
}

.wrapper{
   display: grid; 
     grid-template-rows: 310px auto 50px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}
/* Header box */
.header{
    grid-area: header;
     background-color: #ECECEC;
    margin: 10px;
    overflow:hidden;
    box-shadow: 3px 3px 2px 1px rgba(109, 109, 109, 0.2);
    color: black;

}
header > img{
    margin: 10px;
    position: absolute;
}

header > h1 {
margin-top: 100px;
font-size: 80px;
border-bottom: 1px solid #bbb;
text-align: center;
}

header > h2 {
    text-align: center;
}
/* Main text box*/
.content{
    grid-area: main;
    background-color: #FBF5F5;
    display: grid;
    box-shadow: 3px 3px 5px 5px rgba(109, 109, 109, 0.2);
    grid-auto-columns: 100px 3fr 100px;
    grid-auto-rows: 100px 100px 100px 100px 100px;
    grid-template-areas: 
    "title title title"
    "timeline1 timeline1 Carrie"
    "Gunslinger timeline2 timeline2"
    "timeline3 timeline3 Eleven"
    "Joyland timeline4 timeline4"
    

}
.timelineTitle{
    grid-area: title;
    margin: 10px
}
body > div {
    margin: 0 auto;
}
.timeline1{
grid-area: timeline1;
margin: 10px
}
.timeline2{
grid-area: timeline2;
margin: 10px
}
.timeline3{
grid-area: timeline3;
margin: 10px
}
.timeline4{
grid-area: timeline4;
margin: 10px
}
#Carrie{
    grid-area: Carrie;
    max-width:100%;
    height:auto;
}
#Gunslinger{
    grid-area: Gunslinger;
    
}
#Eleven{
    grid-area: Eleven;
    
}
#Joyland{
    grid-area: Joyland;
    
}
/* footer */
footer{
    background-color: #ECECEC;
    grid-area: footer;
    text-align: center;
}
@media  only screen and (max-width: 1100px) {

.wrapper{
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
         "header"
         "main "
         "footer";
    }
.header{
        grid-area: header;
        background-color: #ECECEC;
        margin: 10px;
        overflow:hidden;
        box-shadow: 3px 3px 2px 1px rgba(109, 109, 109, 0.2);
        color: black;

}
    header > img{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    header > h1 {
        margin-top: 10px;
    }
}